/*
    Agregar tareas

    Eliminar tareas

    Marcar como completadas

    Filtrar tareas (completadas / pendientes)

    Guardar en localStorage (si quieres ir más allá)
*/
* {
  padding: 0px;
  margin: 0px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10 px = 1rem*/
}
body {
  background-color: aliceblue;
}
.Cont_title {
  font-size: 30px;
  margin-left: 20px;
}
.nav-bg {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 5rem;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, lightblue, lightcoral);
  border-bottom: 1px solid grey;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: auto;
  gap: 5px;
}
a {
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  color: #222;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
}
a:hover {
  background-color: #eee;
  color: #222;
  transition: background-color ease-in-out 0.5s;
  border-radius: 5px;
}
.contenedor {
  display: grid;
  grid-template-columns: 20% 80%;
  width: auto;
  max-width: 150rem;
  height: 77rem;
  margin: 3rem auto;
  padding: 10px;
}
/* overflow-y: scroll mostrará siempre una barra de scroll vertical.

overflow-y: auto mostrará la barra solo cuando sea necesario (cuando el contenido se salga).

overflow-y: hidden ocultará el contenido que se desborde sin scroll.

overflow-y: visible es el comportamiento por defecto, el contenido se mostrará fuera del contenedor si es muy grande. */
#contenedor_real {
  /* Firefox */
  overflow-y: auto; /*Evitar el desbordamiento vertical*/
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(25rem, 1fr)
  ); /* ajuste automático */
  grid-auto-rows: minmax(35rem, 1fr); /* filas de igual altura */
  gap: 1rem;
  align-items: start;
  padding: 1rem;
  width: 95%;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  margin: 0 auto;
  justify-items: center;
  padding: 10px;
  height: 65rem;
}
.contenedor__notas--general {
  border-top-left-radius: 3rem;
  background-color: lightcoral;
}
.contenedor_notas--ver {
  background-color: lightblue;
  height: auto;
}
.contenedor__notas--general--create {
  font-family: monospace;
  text-align: center;
  font-size: 20px;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  background-color: #222222b4;
}
.notas_opciones {
  display: flex;
  padding: 10px;
  gap: 5px;
  flex-direction: column;
  align-content: start;
  margin-top: -4rem;
  
}
#borrarNota,
#editarNota,
#compartirNota {
  padding: 15px;
    background-color: #222222b4;
border-right: 1px solid white;
border-left: 1px solid white;

  text-align: center;
  border-radius: 5px;
  color: #eee;
  font-size: 13px;
  transition: ease 0.5s;
}
#borrarNota:hover {
  transform: scale(1.05);
  transition:transform ease 0.5s ;
}
#editarNota:hover {
  transform: scale(1.05);
  transition:transform ease 0.5s ;}
#compartirNota:hover {
  transform: scale(1.05);
  transition:transform ease 0.5s ;}
.contenedor_creador {
  width: 95%;
  height: 30rem;
  border-radius: 5px;
  margin: auto;
  background-color: #2222227e;
  color: #eeee;
}
.contenedor_creador_extras {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 30rem;
  height: auto;
  border-radius: 5px;
  margin: 1rem auto;
  gap: 10px;
}
.campos {
  width: 100%;
  height: 34rem;
  background-color: #22222271;
  border-radius: 5px;
}
.campos h3 {
  padding: 5px;
  text-align: center;
  color: rgb(237, 220, 220);
  font-size: 20px;
  background-color: #222222b4;
}
#contenedor_notas--titulo {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 25px;
  margin: 3rem auto;
  border-radius: 5px;
  margin-left: 1rem;
}
#user_name {
  color: green;
  text-shadow: unset;
  background-color: #22222271;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  padding: 5px;
  margin-left: 1rem;
}
/*MEDIA QUERIES*/
@media (max-width: 40rem) {
  .contenedor__notas--general--create,
  .contenedor_creador,
  .enviar_notas {
    box-shadow: unset;
  }
  .contenedor_creador {
    padding: 10px;
    height: auto;
  }
  .nav-bg {
    margin-top: 1rem;
  }
  .contenedor {
    margin: 2rem auto;
    width: 95%;
    grid-template-columns: 1fr;
    height: auto;
  }
  .contenedor__notas--general {
    border-top-left-radius: unset;
    padding: 5px;
  }
  #contenedor_real {
    box-shadow: none;
    overflow: unset;
    box-shadow: none;
    height: auto;
    overflow-x: auto;
    gap: 10px;
    justify-content: start;
    grid-auto-rows: unset; /* filas de igual altura */
  }
  .texto_nota_orden {
    margin-top: 3rem;
    font-size: 2.5rem;
        letter-spacing: 3px;

  }
  #titulo {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.544);
    border-bottom: none;
    padding: 15px;
    border: 2px solid grey;
  }
  #titulo::placeholder {
    color: rgba(175, 175, 179, 0.506);
    font-size: 12px;
  }
  #contenido_nota {
    border: 2px solid grey;
    min-height: 10rem;
    font-size: 13px;
  }
  #contenido_nota::placeholder {
    font-size: 12px;
    color: rgba(175, 175, 179, 0.506);
  }

  .contenedor_notas--ver {
    height: 100%;
    background-color: 100em;
  }
  .titulo_nota {
    font-size: 15px;
    border-bottom: 1px solid white;
  }
  .contenido_nota {
    padding: unset;
  }
  .contenido_nota p {
    font-size: 22px;
    
  }
  .opciones_notas {
    font-size: 15px;
    box-shadow: unset;
  }
  #notas_opcion {
    align-self: center;
    height: 5rem;
  }
  #nota {
    position: unset;
    width: 95%;
    height: auto;
    scrollbar-width: unset;
    border-radius: 5px;
  }
  .nota:hover {
    transform: unset;
    transition: unset;
  }
  select {
    background-color: transparent;
    width: 70%;
    font-size: 10px;
  }
  .con_options {
    min-width: 1rem;
  }
  .nav-bg {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 90%;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 5px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .header_ver-notas {
    flex-direction: column;
    width: 95%;
    margin: 1rem auto 2rem;

    min-height: 20rem;
    padding: 10px;
    gap: 10px;
  }
  .header_ver-notas h3 {
    font-size: 30px;
  }
  .cont_not {
    padding: 5px;
    display: flex;
    margin-top: -1rem;
  }
  .contendor_general_titulo {
    margin-bottom: 1rem;
    background-color: #22222289;
    width: 100%;
    border-radius: 5px;
  }
  footer {
    position: unset;
  }
}
a {
  width: auto;
}
a:nth-child(1) {
  border-bottom-left-radius: unset;
  border-top-left-radius: unset;
  border-right: none;
}
a:nth-child(3) {
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
  border-left: none;
}
footer {
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(87, 217, 100, 0.839);
  position: fixed;
}
#Author {
  position: relative;
  border: none;
  width: 100%;
}
#Author:hover {
  background-color: unset;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
}
.header_ver-notas {
  background-color: #22222278;
  display: flex;
  width: 95%;
  margin: 1rem auto 2rem;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}
select {
  align-items: center;
  text-align: center;
  max-width: 21rem;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  height: auto;
  background: rgb(255, 255, 255);
  border: none;
  box-shadow: 0px 0px 1px 1px rgb(16, 16, 0);
  font-weight: bold;
}
option {
  text-align: center;
  background-color: transparent;
}
#boton_crearNota {
  text-align: center;
  background-color: #222;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
#nota {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #eee;
  background-color: #222222e9;
  padding: 5px;
  min-height: 150px;
  height: auto;
  margin: 0;
  border-radius: 10px;
  min-width: 25rem;
}
#nota:hover {
  transform: scale(1.05);
  transition: transform ease 0.5s;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
  /* transform: scale(1.05); */
  /* transition: transform ease 0.5s; */
}
.titulo_nota {
  width: 95%;
  margin: 6px auto;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border-bottom: 1px solid grey;
}
.contenido_nota {
  margin: 0 auto;
  max-width: 250px;
  padding: 10px;
}
.contenido_nota p {
  font-family: "Inter", sans-serif;
  text-align: justify;
  font-size: 13px;
  line-height: 1.5;
  width: 100%;
  overflow-wrap: break-word;
}

#notas_opcion:hover {
  background-color: transparent;
  color: #222;
  background-color: #eee;
}
.contenedor_creador {
  display: flex;
  align-content: center;
}
.enviar_notas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 95%;
  margin: 1rem auto;
}
label {
  font-size: 20px;
  font-weight: bold;
}
input {
  text-align: center;
  outline: none;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: #eeee;
}
input::placeholder {
  text-align: center;
}
input:focus {
  border-bottom: 3px solid white;
}
p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
textarea {
  text-align: center;
  height: 10rem;
  width: 100%;
  max-width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 13px;
  padding: 3px;
}
textarea:focus {
  border-left: 3px solid #e1e1e180;
  border-right: 3px solid #e1e1e180;
}
textarea::placeholder {
  color: rgb(213, 197, 197);
}
#Crear_nota {
  padding: 5px;
  width: 100%;
}
#EnviarOrden {
  margin-left: 2rem;
  border-radius: 5px;
  padding: 10px;
  width: 10rem;
  height: auto;
  margin-right: 1rem;
  font-size: 16px;
  background-color: white;
  text-align: center;
  border: 2px solid #222;
  font-weight: bold;
  cursor: pointer;
}
/*PAGINA SIMULADA DE REGISTRO*/

.bg_registro {
  background-color: #222;
}
.Contenedor_registro {
  margin: 10rem auto;
  max-width: 35rem;
  width: auto;
  height: 50rem;
  box-shadow: 0px 0px 10px 1px #eee;
  padding: 5px;
  border-radius: 5px;
}
.labels_registro {
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  gap: 5px;
  background-color: #615a5a33;
  padding: 10px;
  border-radius: 5px;
}
.campito {
  margin-bottom: 3rem;
}
.Contenedor_registro input,
label,
button {
  all: unset;
}
.label-formulario {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: green;
}
#user,
#user_pssw {
  width: 80%;
  border-radius: 2px;
  padding: 10px;
  font-style: italic;
  letter-spacing: 3px;
  border-bottom: 1px solid white;
  border-radius: 3px;
  font-size: 15px;
}
#user,
#user_pssw::placeholder {
  color: white;
}
#Checkdata {
  width: 1rem;
}
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-bottom: 5rem;
  color: #eee;
  text-shadow: 3px 2px 3px black;
  padding: 5px;
  border-radius: 5px;
}
.cont_boton {
  padding: 5px;
  width: 30rem;
  margin: auto;
  text-align: center;
}
.boton_registro {
  cursor: pointer;
  width: auto;
  margin: 0 auto;
  padding: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: ease-out 0.4s;
  outline: invert;
}
.boton_registro:hover {
  border-radius: 5px;
  background-color: #635b5b3f;
  transition: background-color ease 0.3s;
}

@media (max-width: 40rem) {
  .Contenedor_registro {
    width: 90%;
  }
}
