:root {
  --fuentePrincipal: "Open Sans", sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10 px = 1rem*/
}
body {
  font-family: var(--fuentePrincipal);
  background-color: #333;
}

.contenedor {
  display: flex;
  flex-direction: column;
  max-width: 200rem;
  margin: 1rem auto;
  padding: 1rem;
  gap: 1rem
  ;
}
.contenedor_notas--general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 90rem;
  padding: 1rem;
  height: max-content;
  border-radius: 1rem;
  
}
#abrirModal {
  margin: auto;
  padding: 1rem;
  border: medium;
  width: 30rem;
cursor: pointer;
background-color: gold;
border-radius: 1rem;
font-weight: bold;
}
#cerrarModal {
    color: #222;
  text-align: center;
  background-color: gold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin: auto;
  border: medium;
  padding: 1.5rem;
  box-shadow: 0 2px 0 1px #222;
  letter-spacing: 1px;
}
dialog { 
  flex-direction: column;
  justify-content:space-between;
  gap: 1rem;
  position: fixed; /* Fija la posición relativa a la ventana del navegador */
  /** Estilos para lograr centrar el elemento  a la mitad exactamente de su contenedor **/
  top: 30%; /* Mueve el borde superior al ?% de la altura de la ventana */
  left: 50%; /* Mueve el borde izquierdo al 50% del ancho de la ventana */
  transform: translate(-50%, -50%); /* Ajusta el elemento hacia atrás la mitad de su 
  propio ancho/alto */
  /* Otros estilos */
  border: medium;
  background-color: lightcoral;
  padding: 2rem;
  
  z-index: 100;  /*Traer al elemento una capa mas adelante*/
  width: min(35rem, 95%);
  border-radius:1rem;
  height: max-content;
}

/* Aplicarle el efecto borroso, solo funciona con javbascript en elemento.showModal()  */
dialog::backdrop {
  background-color: transparent; 
  backdrop-filter: blur(.2rem);  /*Actua sobre el area del elemento no sobre el elemento en si*/
  -webkit-backdrop-filter: blur(.2rem);

}

.contenedor_notas--ver {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 1rem;
  height: max-content;
  border-radius: 1rem;
  
}
.contenedor_real {
  display: flex;
  flex-flow:row wrap;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin: auto;
  overflow-y: auto;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  min-height: 65rem;
}
.contenedor_real::-webkit-scrollbar {
  display: none;
}
.contenedor_notas--general--title {
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 25rem;
  background-color: rgb(241, 130, 130);
  border-radius: 1rem;
}
/*MEDIA QUERIES*/
@media (max-width: 40rem) {
  .contenedor {
    margin: 0;
    max-width: 100%;
    height: 100vh;
    background-color: #22222287;
    padding: 0;
  }
  .contenedor_real{
  grid-template-columns: 1fr;
  }
  .contenedor_notas--general,.contenedor_notas--ver {border-radius: 0;}
  .contenedor_notas--ver{height:max-content;padding: 0;}
  .contenedor_creador {padding: 10px;height: auto;}
  .nota {height: max-content;}
  #Author  {display: none;}
  .enviar_notas {width: 100%;margin: 0;}
}
#tag {
  all: unset;
  background-color: #22222267;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  height: max-content;
  font-weight: bold;
  border-radius: .5rem;
  text-transform:lowercase;
}
#tag:focus {
  outline: 2px solid #e6e6e6;
  outline-offset: 2px;
}
#tag::placeholder {
  filter: opacity(50%
  );
  text-transform: lowercase;
}

#boton_crearNota {
  color: #222;
  text-align: center;
  background-color: gold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin: auto;
  border: medium;
  padding: 1.5rem;
  box-shadow: 2px 2px 0 1px rgba(255, 217, 0, 0.511);
  letter-spacing: 1px;
}
#boton_crearNota:hover {
  outline-offset: 2px;
  outline: 2px solid #e6e6e6;
  box-shadow: unset;
}
#boton_crearNota:active {
  transform: scale(0.98);
}
details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
summary {
  width: 4rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: goldenrod;
  font-size: 1.2em;
border-radius: .5rem;
  cursor: pointer;
}
summary::marker {
  color: transparent;
}
.campos_botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.notas_opciones--boton {
  color: #222;
  text-align: center;
  background-color: gold;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border: medium;
  padding: 1rem;
  border-radius: .5rem;
}

.notas_opciones--boton:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px #222;
}
.nota {
  flex: 1 1 25rem;
  display: flex;
  min-height: 15rem;
  height: auto;
  text-align:justify;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 1rem;
  color: #e6e6e6;
  border-radius: 1rem;
  background-color:dimgrey;
  overflow-y: scroll;
}
.nota::-webkit-scrollbar {
  display: none;
}

.nota:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease;
  background-color: #222222aa;
  cursor: pointer;
}
/* .nota:checked {
  solo funciona en inputs
  background-color: red;
} */
.titulo_nota {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom:.2rem solid grey;
}
.contenido_nota {
  background-color: #1111113f;
  text-align: center;
  width: 100%;
  min-height: max-content;
  height: max-content;
  padding: 1rem;
  margin: 0 auto;
  border-radius: .5rem;
}
.contenido_nota p {
  font-size: 1.5rem;
  overflow-wrap: break-word;
}
.notas_opcion:hover {
  background-color: transparent;
  color: #222;
  background-color: #eee;
}
.tagelement {
  width: 100%;
  padding: 1rem;
    background-color: rgba(0, 128, 0, 0.504);
    border-bottom-left-radius:1rem ;
    border-bottom-right-radius:1rem ;
    
}
.tagelement p {
  font-weight: medium;
  font-size: 1rem;
  color: #e6e6e6;
}
.contenedor_creador {
  display: flex;
  align-content: center;
  height: max-content;
  border-radius: .5rem;
  color: #eeee;
  
}
.texto_nota_orden {
  font-size: 1.8rem;
}
.enviar_notas {
  display: flex;
  flex-direction: column;
  background-color: #1111113f;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}
input {
  text-align: center;
  margin: 1rem 0 1rem 0;
  outline: none;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: #eeee;
}
input::placeholder {
  text-align: center;
  color: #e6e6e6;
  opacity: 80%;
}

input:focus {
  color: #222;
  border-bottom: 3px solid white;
  background-color: #fff3f33d;
}
p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
textarea {
  font-family: var(--fuentePrincipal);
  margin-top: 1rem;
  text-align: center;
  height: 10rem;
  width: 100%;
  max-width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
}
textarea:focus {
  border-left: 3px solid #e1e1e180;
  border-right: 3px solid #e1e1e180;
  background-color: #e6e6e642;
}
textarea::placeholder {
  color: rgb(213, 197, 197);
}
textarea::-webkit-scrollbar {
  display: none;
}




a {
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  color: #222;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: auto;
}
a:hover {
  
  color: #222;
  transition: background-color ease-in-out 0.5s;
  border-radius: 0.5rem;
}
a:nth-child(1) {
  border-bottom-left-radius: unset;
  border-top-left-radius: unset;
  border-right: none;
}
a:nth-child(3) {
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
  border-left: none;
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}
#Author {
  position: relative;
  border: none;
  width: 100%;
  color: #e6e6e6;
  transition: all ease 0.3s;
}
#Author:hover {
  color: #222;
}
